QWidget{                            font: 12pt 'Whitney'; font-weight: 12; background-color: transparent}

/*
Dark Grey 1 : 202225
Dark Grey 1 : 292b2f
Dark Grey 2 : $dark
Dark Grey 3 : $background
Dark Grey 3 : $edit
Red : ff0000
Roll Over : $selection
*/

QMainWindow{                        background-color: $background;}

QLabel{                             color: $text;}
QLabel::disabled{                   color: $grey; background-color: transparent;}
QMenu{                              background-color: $dark; color: $text; border-radius: 0; border-width: 1px; border-color: $text; border-style: solid; padding: 3px}
QMenu::item::selected{              background-color: $selection; padding: 2px 15px}
QMenu::item::!selected{             background-color: transparent; padding: 2px 15px}

QGroupBox{                          background-color: $dark; border: 2px #FF0000; border-radius: 0px; font: 12pt 'Withney Medium'; padding: 20 4 4 4}
QGroupBox::title{                   subcontrol-origin: margin; color: #999999; background: transparent; padding: 4 0 0 6}

QListWidget{                        background-color: $edit; color: $text;}
QListWidget::item:!selected{        background: transparent; margin: 0 0 0 6}
QListWidget::item:selected{         background-color: $selection; color: $text; margin: 0 0 0 6}
QHeaderView::section{               background-color: $dark; color: $text; border: 1px solid $dark}

QPlainTextEdit{                     background-color: #999999; color: #000000; border: 0px; border-radius: 0}

QPushButton{                        outline: 0; color: $text; border-radius: 0; border-width: 0px; border-color: #3C3F41; border-style: solid; padding: 4px 4px}
QPushButton::!pressed{              background-color: $dark;}
QPushButton::hover{                 background-color: $selection;}
QPushButton::pressed{               background-color: $selection;}

QPushButton#playlistPlayButton{                        outline: 0; color: $text; border-radius: 0; border-width: 0px; border-color: $red; border-style: solid; padding: 4px 4px}
QPushButton#playlistPlayButton::!pressed{              background-color: $edit;}
QPushButton#playlistPlayButton::hover{                 background-color: $selection;}
QPushButton#playlistPlayButton::pressed{               background-color: $selection;}

QGraphicsView {                     border: 0px; background-color: $dark}

QComboBox{                          background: $dark; color: #d9d9d9; border-radius: 0; padding: 2px 18px 2px 8px}
QComboBox:editable{                 background: #999999; color: #3C3F41; border-radius: 0; border-width: 0;}
QComboBox:!enabled{                 background: #999999; color: #666666;}
QComboBox::hover{                   background-color: $selection;}
QComboBox:selected {                selection-background-color: $selection; }
QComboBox::down-arrow {             image: url(:/icons/chevron-down.svg); width: 24px; height: 24px; padding: 0 24 0 0;}
QComboBox::drop-down {              border: 0; }
QComboBox QAbstractItemView {       background-color: $dark;}

QLineEdit{                          background-color: $edit; color: $text; border: 0px; border-radius: 0; border-width: 0px; border-style: solid; padding: 4px 4px}
QLineEdit:read-only{                background-color: $grey;}
QTreeView{                          background-color: $grey;}

QDialog{                            background-color: $background;}
QTextEdit{              	        background-color: $edit; color:#dbdcdd}
QCheckBox{                          outline: 0; color: $text; padding: 0px 0px 0px -5px;}
QCheckBox:hover{                    outline: 0; color: $selectLight; padding: 0px 0px 0px -5px;}
QCheckBox::indicator {              width: 15px; height: 15px;}
QCheckBox::indicator:unchecked{     image: url(:/icons/square.svg); width: 30px;}
QCheckBox::indicator:checked{       image: url(:/icons/check-square.svg); width: 30px;}
QCheckBox::indicator:unchecked:hover{     image: url(:/icons/square-sel.svg); width: 30px;}
QCheckBox::indicator:checked:hover{       image: url(:/icons/check-square-sel.svg); width: 30px;}

QMainWindow::separator {            background: #3C3F41; width: 4px }
QScrollArea{                        border: 1px solid $edit}

QScrollBar {                        border: 1px solid $edit; background: $edit; border-radius: 0px }
QScrollBar::handle:vertical {       background: $grey; min-height: 100px; border-radius: 0px; margin: 2px;}
QScrollBar::sub-line {              height: 0px; width: 0px}
QScrollBar::add-line {              height: 0px; width: 0px}
QScrollBar::handle:horizontal {     background: $grey; min-width: 100px; border-radius: 0px; margin: 2px;}
QScrollBar::add-page, QScrollBar::sub-page { background: none;}

QSplitter::handle:horizontal{       background-repeat: 0; height: 2px; margin: 0 0 0 3; background-position: center left; background-image: url(:/icons/more-vertical.svg); }
QSplitter::handle:vertical{         background-repeat: 0; height: 6px; margin: 6 0 0 0; background-position: top center; background-image: url(:/icons/more-horizontal.svg); }

QSpinBox{                           background-color: $edit; color: $text; border: 0px; padding: 2px;}
QSpinBox:up-button, QSpinBox:down-button{    background-color:transparent;}
QSpinBox:up-arrow{                  background-color:transparent; width: 14px; height: 14px; image: url(:/icons/chevron-up.svg)}
QSpinBox:down-arrow{                background-color:transparent; width: 14px; height: 14px; image: url(:/icons/chevron-down.svg)}
QSpinBox:up-arrow::hover{           image: url(:/icons/chevron-up-blue.svg)}
QSpinBox:down-arrow::hover{         image: url(:/icons/chevron-down-blue.svg)}

QDateTimeEdit{                      background: $edit; color: $text; border: 0px; padding: 2 18 2 8;}
QDateTimeEdit::down-arrow {         image: url(:/icons/chevron-down.svg); width: 24px; height: 24px; padding: 0 0 0 0;}
QDateTimeEdit::drop-down {          border: 0; width: 38px}
QCalendarWidget QToolButton { height: 30px; width: 60px; color: $text; icon-size: 24px, 24px; background: $dark;}
QCalendarWidget QWidget#qt_calendar_navigationbar{ background: $dark;}
QCalendarWidget QWidget { background: $dark; alternate-background-color: $edit}

QFrame#line1A{                      color: $grey}
QFrame#line1B{                      color: $grey}
QFrame#line2A{                      color: $grey}
QFrame#line2B{                      color: $grey}
QFrame#line3{                       color: $grey}

/*
QSlider {                           background: transparent;}
QSlider::groove{                    background-color: $edit;
	border: 4px solid $background;
	height: 10px;
	border-radius: 0px;}
QSlider::handle{background-color: $edit;
	border: 2px solid $text;
	width: 10px;
	radius: 5px;}
*/
QSlider::groove {
background: white;
height: 4px;
}

QSlider::sub-page {
background: $selection;
border: 0px;
height: 10px;
}

QSlider::add-page {
background: $dark;
border: 0px;
height: 10px;
}

QSlider::handle {
background: $background; border-radius: 8px; width: 15px;
border: 1px solid $grey;
margin-top: -7px;
margin-bottom: -7px;
}

QSlider::handle:hover {
background: $selection; border-radius: 8px; width: 15px;
border: 1px solid $grey;
}


QTabBar::tab{                       background-color: $dark; color: $grey; border: 0px; min-height: 0px; min-width: 0px; padding: 2px; }
QTabBar::tab:selected{              background-color: $edit; color: $text;}
QTabBar::tab:hover{                 background-color: $selection; color: $text;}
QTabBar::close-button {             image: url(:/icons/x.svg); subcontrol-position: right; }
QTabBar::close-button:hover {       background-color: $selectLight}

QTabWidget::pane {                  border: 0px}
QTableWidget::indicator:unchecked{     image: url(:/icons/square.svg); width: 30px;}
QTableWidget::indicator:checked{       image: url(:/icons/check-square.svg); width: 30px;}

QTabWidget#mainTabWidget QTabBar::tab{ background-color: $dark; color: $grey; border: 0px; min-height: 100px; min-width: 0px; padding: 2px; }
QTabWidget#mainTabWidget QTabBar::tab:selected{              background-color: $edit; color: $text;}
QTabWidget#mainTabWidget QTabBar::tab:hover{                 background-color: $selection; color: $text;}
QTabWidget#mainTabWidget QTabBar::close-button {             image: url(:/icons/x.svg); subcontrol-position: right; }
QTabWidget#mainTabWidget QTabBar::close-button:hover {       background-color: $selectLight}

QTabWidget#sumTabWidget QTabBar::tab{     background-color: $dark; color: $grey; border: 0px; min-height: 35px; min-width: 100px; padding: 2px; }
QTabWidget#sumTabWidget QTabBar::tab:selected{              background-color: $edit; color: $text;}
QTabWidget#sumTabWidget QTabBar::tab:hover{                 background-color: $selection; color: $text;}
QTabWidget#sumTabWidget QTabBar::close-button {             image: url(:/icons/x.svg); subcontrol-position: right; }
QTabWidget#sumTabWidget QTabBar::close-button:hover {       background-color: $selectLight}

QTabWidget#taskTabWidget QTabBar::tab{      min-height: 0px}
QTabWidget#patternsTabWidget QTabBar::tab{  min-height: 0px}
QTabWidget#elementTabWidget QTabBar::tab{   min-height: 0px}
QTabWidget#assetTabWidget QTabBar::tab{     min-height: 0px}

QTableWidget#reportTableWidget QHeaderView::section {background-color: $edit; border: 0px; border-right: 2px solid black}